.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}


.productImage {
  position: absolute;
  top: 20%;
  right: 20%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}


.productShadow {
  filter: drop-shadow(0px 10px 10px #000000e0);
  transition: all 0.3s ease-in-out;
  height: auto;
  scale: 1.65;
}


@media only screen and (max-width: 600px) {
  .vertical-text {
    writing-mode: horizontal-tb;
  }

  .productImage {
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
  }
  
  
  .productShadow {
    filter: drop-shadow(0px 10px 10px #000000e0);
    transition: all 0.3s ease-in-out;
    height: auto;
    scale: 1.3;
  }
}