@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #FFBB00;
}

html, body, #__next {
  height: 100%;
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}



/* Primary color  */
.text-prime {
  color: var(--primary);
}
.bg-prime {
  background-color: var(--primary);
}

/* headline */
.marquee {
  display: flex;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}